# EPM Dockerfile for Intel x86 GNU GCC builder
# Version: {{version}}
#
FROM epmkit/conan-gcc5-x86:{{conan_version}}

LABEL maintainer="Mingyi Zhang <mingyi.z@outlook.com>"

{% include 'inc/copy-epm.j2' %}

RUN {{ install_epm }} \
    && sudo rm -rf {{ccache_dir}}


