cmake_minimum_required(VERSION 3.10)
project({{ name }}_test CXX)

set(CMAKE_VERBOSE_MAKEFILE TRUE)

include(${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)
conan_basic_setup()




if(MSVC)
  set(CMAKE_EXE_LINKER_FLAGS /ignore:4099)
endif()

#get_filename_component(test_source_dir {{ '${%s_TEST_SOURCE_DIR} ' % name }} PATH)
set(test_source_dir ${CMAKE_CURRENT_SOURCE_DIR})
include_directories( ${test_source_dir}/src )

# C/C++ file extension
set(C_SOURCE_FILE_EXTENSION *.c)
set(C_HEADER_FILE_EXTENSION *.c)
set(CXX_SOURCE_FILE_EXTENSION ${C_SOURCE_FILE_EXTENSION} *.cxx *cpp *.cc)
set(CXX_HEADER_FILE_EXTENSION ${C_HEADER_FILE_EXTENSION} *.hpp *.hxx)

set(_SRCs)
foreach(i in ${CXX_SOURCE_FILE_EXTENSION})
   file(GLOB_RECURSE _SRCs  ${_SRCs} ${test_source_dir}/src/${i})
endforeach()


source_group(TREE ${test_source_dir} FILES ${_SRCs} )

if(WITH_MAIN)
    add_executable(${PROJECT_NAME} ${_SRCs})
else()
    add_executable(${PROJECT_NAME} main.cpp ${_SRCs})
endif()


target_link_libraries(${PROJECT_NAME} {{name}} ${CONAN_LIBS})
set_property(TARGET ${PROJECT_NAME} PROPERTY CXX_STANDARD 11)
if(WITH_GMOCK)
    target_compile_definitions(${PROJECT_NAME} PRIVATE WITH_GMOCK)
endif()

install(TARGETS ${PROJECT_NAME} RUNTIME DESTINATION bin)