#!/bin/bash
function on_exit(){
  echo ""
}
set -e
trap on_exit EXIT

sudo -E docker run --rm \
--user $(id -u):$(id -g) \
{% for v in docker.volume -%}
    -v {{v.volume}} \
{% endfor -%}
    -e EPM_DOCKER_IMAGE={{docker.image}} \
{% for name, value in docker.environment.items() -%}
    -e {{name}}={{value}} \
{% endfor -%}
    -w {{docker.cwd}} \
{{docker.image}} \
{{docker.shell}} {{script_dir}}/docker_build_command.sh

