#!/bin/bash
function on_exit(){
  echo ""
}
set -e
trap on_exit EXIT

sudo -E docker run --rm \
{% for v in docker.volume -%}
    -v {{v.volume}} \
{% endfor -%}
    -e EPM_WORKBENCH=${EPM_WORKBENCH} \
    -e EPM_DOCKER_IMAGE={{docker.image}} \
{% for name, value in docker.enviroment.items() -%}
    -e {{name}}:{{value}} \
{% endfor -%}
    -w {{docker.cwd}} \
    --user $(id -u):$(id -g) \
    -e HOME={{docker.home}} \
    {{docker.image}} \
    {{docker.shell}} {{script_dir}}/docker_build_command.sh

