name: {{ name }}
version: {{ version }}
group: {{ group | default('example')}}
license: {{ license | default('Unknown')}}
url: http://{{group}}.com/{{name}}
description: {{ description | default('%s is %s ....' % (name, type))}}

scheme:
  profile:
  - gcc5
  - vs2019
  options:
    dynamic:
      shared: true
      # -----------------------------------------------------------------------------
      # if not use the default options of depend package, you have to specified here
      # for example we want to use zlib dynamic options scheme.
      # -----------------------------------------------------------------------------
      #.dependencies:
      #  zlib: dynamic

{% if type == 'lib' %}
test:
- tests

sandbox:
  test: test/tests/package/{{ name }}_test
{% endif %}

{#
script:
  gitlab-ci: script/gitlab-ci.py
#}

# ---------------------------------------------------------------------
# Uncomment below part and add the depend on packages (c/c++ lib)
# the `version` field is REQUIRED, if the `group` not filled
# it would be take as the project's group that is `{{ group }}`
# ---------------------------------------------------------------------
#dependencies:
#- zlib:
#    version: 1.2.8
#    group: epm