RUN sudo pip uninstall -y conan conan-package-tools \
    && mkdir /tmp/epm \
    && tar -xvzf /tmp/epm.tar.gz -C /tmp/epm \
    && sudo pip install {{pip_options}} /tmp/epm \
    && sudo rm -rf /tmp/epm* \
    && conan --version \
    && epm --version