{%- set type = manifest['type'] -%}
name: {{ name }}
version: {{ version }}
user: {{ user | default('example')}}

scheme:
  shared:
    options:
      shared: true
    # -----------------------------------------------------------------------------
    # if not use the default scheme of depend package, you have to specified here
    # for example we want to use zlib dynamic options scheme.
    # -----------------------------------------------------------------------------
    # zlib: shared

{% if type == 'lib' %}
sandbox:
  test_package: test_package/build/bin/{{ name }}_test
{% endif %}


# ---------------------------------------------------------------------
# Uncomment below part and add the depend packages (c/c++ lib)
# the `version` field is REQUIRED, the dependent item is conan reference
# you can also with str format, for example below dict format same as
#  dependencies:
#  - zlib/1.2.8[[@user]/[channel]:[revision]]
# ---------------------------------------------------------------------
#dependencies:
#- zlib:
#    version: 1.2.8
#    user: [optional]
#    channel: [optional]
#    revision: [optional]