# EPM GCC docker builder x86 base layer for HiSillicon
# Version: {{version}}
#
FROM epmkit/conan-gcc8-x86:{{conan_version}}

LABEL maintainer="Mingyi Zhang <mingyi.z@outlooke.com>"

ENV CC=arm-hisiv300-linux-uclibcgnueabi-gcc \
    CXX=arm-hisiv300-linux-uclibcgnueabi-g++ \
    CMAKE_C_COMPILER=arm-hisiv300-linux-uclibcgnueabi-gcc \
    CMAKE_CXX_COMPILER=arm-hisiv300-linux-uclibcgnueabi-g++ \
    STRIP=arm-hisiv300-linux-uclibcgnueabi-strip \
    RANLIB=arm-hisiv300-linux-uclibcgnueabi-ranlib\
    AS=arm-hisiv300-linux-uclibcgnueabi-as \
    AR=arm-hisiv300-linux-uclibcgnueabi-ar \
    LD=arm-hisiv300-linux-uclibcgnueabi-ld

COPY tools/docker/aliyun-ubuntu-18.04-sources.list /tmp/aliyun-ubuntu-18.04-sources.list
    
RUN sudo cp /tmp/aliyun-ubuntu-18.04-sources.list /etc/apt/sources.list \
    && sudo apt-get update \
    && cd /opt && sudo wget {{archive_url}}/HiSilicon/arm-hisiv300-linux.tar.gz \
    && sudo tar -xvzf arm-hisiv300-linux.tar.gz \
    && sudo chown -R conan:1001 /opt/arm-hisiv300-linux \
    && sudo rm /opt/arm-hisiv300-linux.tar.gz \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-addr2line  arm-hisiv300-linux-uclibcgnueabi-addr2line  /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-addr2line  100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-ar         arm-hisiv300-linux-uclibcgnueabi-ar         /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-ar         100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-as         arm-hisiv300-linux-uclibcgnueabi-as         /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-as         100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-c++        arm-hisiv300-linux-uclibcgnueabi-c++        /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-c++        100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-c++filt    arm-hisiv300-linux-uclibcgnueabi-c++filt    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-c++filt    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-cpp        arm-hisiv300-linux-uclibcgnueabi-cpp        /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-cpp        100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-elfedit    arm-hisiv300-linux-uclibcgnueabi-elfedit    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-elfedit    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-g++        arm-hisiv300-linux-uclibcgnueabi-g++        /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-g++        100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gcc        arm-hisiv300-linux-uclibcgnueabi-gcc        /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gcc        100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-ar     arm-hisiv300-linux-uclibcgnueabi-gcc-ar     /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-ar     100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-nm     arm-hisiv300-linux-uclibcgnueabi-gcc-nm     /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-nm     100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-ranlib arm-hisiv300-linux-uclibcgnueabi-gcc-ranlib /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gcc-ranlib 100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gcov       arm-hisiv300-linux-uclibcgnueabi-gcov       /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gcov       100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gdb        arm-hisiv300-linux-uclibcgnueabi-gdb        /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gdb        100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-gprof      arm-hisiv300-linux-uclibcgnueabi-gprof      /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-gprof      100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-ld         arm-hisiv300-linux-uclibcgnueabi-ld         /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-ld         100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-nm         arm-hisiv300-linux-uclibcgnueabi-nm         /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-nm         100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-objcopy    arm-hisiv300-linux-uclibcgnueabi-objcopy    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-objcopy    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-objdump    arm-hisiv300-linux-uclibcgnueabi-objdump    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-objdump    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-ranlib     arm-hisiv300-linux-uclibcgnueabi-ranlib     /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-ranlib     100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-readelf    arm-hisiv300-linux-uclibcgnueabi-readelf    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-readelf    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-size       arm-hisiv300-linux-uclibcgnueabi-size       /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-size       100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-strings    arm-hisiv300-linux-uclibcgnueabi-strings    /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-strings    100 \
    && sudo update-alternatives --install /usr/bin/arm-hisiv300-linux-uclibcgnueabi-strip      arm-hisiv300-linux-uclibcgnueabi-strip      /opt/arm-hisiv300-linux/bin/arm-hisiv300-linux-uclibcgnueabi-strip      100 \
    && conan profile new default --detect \
    && conan profile update settings.arch=armv7 default
