COPY epm {{epm_source_dir}}/epm
COPY README.md  {{epm_source_dir}}/README.md
COPY pylint.cnf {{epm_source_dir}}/pylint.cnf
COPY setup.cfg {{epm_source_dir}}/setup.cfg
COPY setup.py {{epm_source_dir}}/setup.py
#COPY tools/docker/aliyun-ubuntu-16.04-sources.list /temp/aliyun-ubuntu-16.04-sources.list
