# EPM GCC5 docker Builder
# Version: {{version}}
#
FROM conanio/gcc5:1.24.0

LABEL maintainer="Mingyi Zhang <mingyi.z@outlook.com>"

{% include 'copy.j2' %}

RUN echo "GNU GCC 5"     \
{% include 'pre.j2' %}   \
    && {{ install_epm }} \
{%- include 'post.j2' %}