# EPM GCC5 docker Builder
# Version: {{version}}
#
FROM conanio/gcc5:1.18.0

LABEL maintainer="Mingyi Zhang <mingyi.z@outlooke.com>"

{% include 'copy.j2' %}

RUN sudo pip uninstall -y conan-package-tools conan \
{% include 'pre.j2' %}
    && {{ install_epm }} \
{%- include 'post.j2' %}