# GCC5 EPM Builder
# Version: {{version}}
#
FROM conanio/gcc5-x86:1.24.0

LABEL maintainer="Mingyi Zhang <mingyi.z@outlooke.com>"

{% include 'copy.j2' %}

RUN echo "GNU GCC5 x86" \
{% include 'pre.j2' %}
    && {{ install_epm }} \
{% include 'post.j2' %}

