# GCC5 EPM Builder
# Version: {{version}}
#
FROM epmkit/conan-gcc5-x86:{{conan_version}}

LABEL maintainer="Mingyi Zhang <mingyi.z@outlook.com>"

{% include 'copy.j2' %}

RUN echo "GNU GCC5 x86" \
{%- include 'pre.j2' %} \
    && {{ install_epm }}\
{%- include 'post.j2' %} 

