{%- if debug %}
    && sudo rm -rf {{epm_source_dir}}/epm \
    && echo debug version epm should mount at [{{epm_source_dir}}/epm]
{%- else %}
    && sudo rm -rf {{epm_source_dir}} \
    && epm --version
{% endif %}